html,
body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", "Avant Garde", "Arial", sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 56px;  
}
.main-navigation {
  min-height: 56px;
  width: 1200px;
  display: flex;
  justify-content: space-around; 
}
.main-navigation-left {
  min-height: 56px;
  width: 478px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.header-logo {
  width: 244px;
  position: absolute;
  left: 570px;
}
.main-navigation-right {
  min-height: 56px;
  width: 478px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.promo {
  display: flex;
  justify-content: center;
  padding-top: 75px;
  min-height: 435px;
  background-color: #4794AB;
}
.features {
  min-height: 1314px;
}
.features-intro {
  min-height: 215px;
}
.features-intro-caption {
  width: 440px;
  min-height: 48px;
  display: inline-block;
  margin-left: 380px;
  margin-top: 61px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

}
.features-intro p {
  width: 489px;
  min-height: 13px;
  display: inline-block;
  margin-left: 355px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
.features-item {
  display: flex;
  padding: 0;
  margin: 0;
 }
.features-item-slogan {
  width:400px;  
}
.features-item-image {
  width:800px;
  height: 256px;
}
.features-item-image img {
  height: 256px;
}
.features-reference {
  min-height: 330px;
  display: flex;
}
.features-reference-item {
  width: 400px;
}
.features-list {
  display: flex;
}
.features-list-slogan {
  min-height: 256px;
  width: 400px;
}
.feedback {
  position: relative;
}
.feedback-tip {
  min-height: 290px;
  text-transform: uppercase;
  line-height: 24px;  
}
.feedback-tip b {
  width: 434px;  
  display: inline-block;
  min-height: 30px;
  font-size: 30px; 
  margin-left: 450px;
  margin-top: 55px;
}
.feedback-tip p {
  width: 435px;
  display: inline-block;
  margin-left: 380px;
  text-align: center;
  margin-top: 24px;
  font-size: 14px;  
}
.map {
  z-index: 1;
}
.map img {
  height: 593 px;
  z-index: 1;
}
.popup {
  position: absolute;
  top: 203px;
  left: 316px;
}
.popup-button {
  width: 568px;
  height: 86px;
  color: #ffffff;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.popup-form {
  position: absolute;
  top: -16px;
  width: 568px;
  height: 481px;
  background-color: #ffffff;
}
.popup-form h2 {
  width: 568px;
  height: 56px;
  color: #ffffff;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  padding-top: 30px;
  margin-bottom: 55px;
}
input[type="submit"] {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
 .popup-form label {
  margin-left: 55px;
  margin-right: 30px;
 }
.popup-form label:nth-of-type(3) {
  margin-right: 47px;
}
 input[type="text"]:nth-of-type(1) {
  width: 342px;
  height: 32px;
  margin-bottom: 30px;
}
input[type="text"]:nth-of-type(2) {
  width: 342px;
  height: 32px;
  margin-bottom: 17px;
}
input[type="text"]:nth-of-type(3) {
  width: 34px;
  height: 32px;
  margin-bottom: 54px;
   margin-left: 0px;
}
input[type="text"]:nth-of-type(4) {
  width: 34px;
  height: 32px;
  margin-bottom: 54px;
}
.plus-button {
  margin-top: 0px;
  padding: 0;
  width: 36px;
  height: 38px;
}
.main-footer {
  margin: 0 40px;
  width: 1200px;
  min-height: 85px;
  white-space: nowrap;
  position: absolute;
  top: 2644px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 35px;  
}
.main-footer-logo {
  width: 400px;
  display: inline-block;
  vertical-align: center;
  text-align: center;
  min-height: 85px;  
}
.footer-social {
  width: 400px;
  display: inline-block;
  vertical-align: center;
  text-align: center;
}
.footer-copyright  {
  width: 400px;
  display: inline-block;
  text-align: center;  
}
p .footer-copyright {
 display: inline-block; 
}
                    /*Разметка второй страницы */

.main-form {
  height: 219px;
  padding-right: 60px;
  padding-left: 67px;
  background-color: #62936C;
}
.form-list-checkbox {
  padding-top: 100px; 
  display: inline-block;  
}
.form-list-checkbox:nth-of-type(1) {
  margin-right: 20px;
}
.form-list-checkbox:nth-of-type(2) {
  margin-right: 200px;
}
.main-result {
  min-height: 540px;
}
.result {
 min-height: 86px;    
}
.result p {
  display: inline-block;
}
.result-items {
  display: inline-block;
}
.result-items-arrow {
  display: inline-block;
  margin-left: 450px;
}
.result p:nth-of-type(1) {
  margin-left: 70px;
  margin-top: 31px;
  margin-right: 25px;
}
.housing  {
  min-height: 70px;
  display: flex;
  margin-bottom: 30px;
}
.housing img {
  margin-top:30px;
  margin-left: 72px;  
}
.housing-description {
  width: 270px;
  margin-left: 30px; 

}
.housing-description h2 {
  padding-top: 20px; 
  margin: 0;  
}
.housing-description-left {
  display: inline-block;
  width: 110px;
  float: left;  
  margin-right: 5px;
}

.housing-description-left p,
.housing-description-right p {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.housing-description-right {
  display: inline-block;
  width: 130px;
}
.housing-description-rating {
  margin-left: 530px;
  margin-top: 28px;
}
.rating-stars p {
  margin-top: 47px;
}
.catalog-pade {
  margin: 0 40px;
  width: 1200px;
  min-height: 85px;
  white-space: nowrap;
  position: absolute;
  top: 812px;
  
}
             /*Разметка сложного фильтра*/
.filter-range {
 margin-top: 25px;
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
}
.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}


.features-item-caption h2 {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  }
.housing-description h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;  
}