body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", "Avant Garde", "Arial", sans-serif;
}
.features-item-caption h2 {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  }
.housing-description h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;  
}