html,
body {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", "Avant Garde", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}
.main-header {
  background-color: #ffffff;
}
.main-navigation {
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  position: relative; 
}
.main-navigation-list {
  min-height: 56px;
  width: 40%;
  display: flex;
  justify-content: space-around;  
  align-items: center;
  padding: 0; 
  margin: 0;
  list-style: none;   
}
.main-navigation-item {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.main-navigation-list a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;  
}
.main-navigation-list a:hover {
  color: #81b3d2;
}
.main-navigation-list a:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-navigation-list .main-navigation-active {
  color: #766357;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}
.header-logo {
  width: 20%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  height: 56px;
  display: flex;
  justify-content: center;  
}
.promo {
  display: flex;
  justify-content: center;
  padding-top: 75px;
  height: 435px;
  background: #4794AB url("../img/bg-promo.jpg") no-repeat center bottom;
}
.features {
  min-height: 1314px;
}
.features-intro {
  padding-bottom: 56px;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
}
.features-intro-caption {
  width: 450px;
  min-height: 48px;
  display: block;
  margin: 0 auto;
  padding-top: 60px;
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;  
}
.features-intro p {
  width: 489px;
  min-height: 13px;
  padding-top: 27px;
  display: block;
  margin: 0 auto;  
  font-size: 14px;
  font-weight: 400;
}
.features-item {
  display: flex;
  padding: 0;
  margin: 0;
 }
.features-item-slogan {
  width:400px;
  background-color: #81b3d2;
  text-align: center;
  color: #ffffff;
  line-height: 21px;
}
.caption-one {
  padding: 37px 57px 28px 55px;
}  
.caption-two {
  width: 304px;
  margin: 0 auto;
  padding: 40px 45px 25px 51px;
  text-align: center;
  color: #ffffff;
  line-height: 21px;
}
.caption-two p {
  padding-bottom: 7px;
}
.features-item-caption {
  width: 170px;
  margin: auto auto;
  padding-top: 16px;
  padding-bottom: 10px;
}
.features-item-slogan p {
  padding-bottom: 7px;
}
.features-item-image {
  width:800px;
  height: 256px;
  background-color: #BA8101;
}
.features-item-image img {
  height: 256px;
}
.features-reference {
  min-height: 330px;
  display: flex;
  line-height: 21px;
}
.features-reference-item {
  width: 400px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.reference-item-caption {
  font-size: 21px;
  font-weight: 700;
  padding-top: 140px;
  margin-bottom: 10px; 
}
.reference-housing-text {
  width: 252px;
  text-align: center;
}
.reference-food-text {
  width: 285px;
  text-align: center;
}
.reference-souvenir-text {
  width: 272px;
  text-align: center;
}
.features-reference-housing::before {
  content: "";
  position: absolute;
  top: 60px;
  width: 75px;
  height: 72px;
  display: block;  
  background-image: url("../img/icon-housing.png");
}
.features-reference-food::before {
  content: "";
  position: absolute;
  top: 61px;
  right: 159px;
  width: 74px;
  height: 70px;
  display: block;  
  background-image: url("../img/icon-food.png");
}
.features-reference-souvenir::before {
  content: "";
  position: absolute;
  top: 56px;
  right: 168px;
  width: 64px;
  height: 76px;
  display: block;  
  background-image: url("../img/icon-souvenir.png");
}
.features-list {
  display: flex;
  background-color: #eeeeee;
  line-height: 21px;
}
.features-list-slogan {
  min-height: 256px;
  width: 400px;  
}
.features-list-area {
  width: 208px;
  text-align: center;
  padding-left: 95px;
  padding-top: 30px;
}
.features-list-area h2 {
  padding-bottom: 5px;
}
.features-list-road {
  width: 262px;
  text-align: center;
  padding-top: 30px;
  padding-left: 73px;
}
.features-list-road h2 {
  width: 130px;
  padding-left: 64px;
  padding-bottom: 5px;
}
.features-list-road p,
.features-list-tourists p,
.features-list-area p {
  padding-bottom: 6px;
}
.features-list-tourists {
  width: 260px;
  text-align: center;
  padding-top: 30px;
  padding-left: 73px;
}
.features-list-tourists h2 {
  width: 105px;
  padding-left: 75px;
  padding-bottom: 5px;
}
.feedback {
  position: relative;
  background-color: #ffffff;
}
.feedback-tip {
  min-height:153px;
  background-color: #ffffff;
  text-align: center;  
  line-height: 24px;
  padding-top: 52px;  
}
.feedback-tip b {
  width: 434px;  
  display: block;
  min-height: 30px;
  font-size: 30px;
  font-weight: 700;  
  margin: 0 auto;
}
.feedback-tip p {
  width: 435px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 24px;
  font-size: 14px;  
}
.map {
  z-index: 1;
}
.map img {
  height: 593 px;
  z-index: 1;
}
.popup {
  background-color: #ffffff;
  width: 568px;
  margin: 0 auto;
}
.popup-button { 
  width: 100%;
  height: 86px;
  color: #ffffff;
  background-color: #766357;
  font-size: 21px;
  font-weight: 700;
  font-family: "PT Sans", "Avant Garde", "Arial", sans-serif;
  vertical-align: middle;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  vertical-align: middle; 
}
.popup-form {
  position: absolute;
  top: 100%;
  width: 458px;
  height: 340px;
  background-color: #ffffff;
  padding-top: 55px;
  padding-left: 55px;
  padding-right: 55px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;  
}
.dates {
  position: relative;
  margin-bottom: 28px;
}
.dates input {
  width: 303px;
  height: 36px;
  border: none;
  background-color: #f2f2f2;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 13px;
  padding-right: 30px;
  font-family: "PT Sans", "Avant Garde", "Arial", sans-serif;
}
.dates input:hover {
  background-color: #ebebeb;
}
.dates input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  width: 299px;
  height: 32px;
  outline: none;
}
.date-arrival label {
  padding-right: 20px;  
}
.date-departure label {
  padding-right: 16px;  
}
.dates .calendar-button {
  width: 21px;
  height: 22px;
  position: absolute;
  top: 7px;
  bottom: 0;
  margin: 0 auto;
  right: 7px;
  font-size: 0;
  background-image: url("../img/icon-calendar.png");
  background-color: #f2f2f2;
  border: 0;
  cursor: pointer;
}
.dates .calendar-button:hover {
  background-image: url("../img/icon-calendar-hover.png");
}
.dates .calendar-button:active {
  background-image: url("../img/icon-calendar-active.png");
  outline: none;
}
.plus-button {
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  background-image: url("../img/icon-plus.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.plus-button:hover {
  background-image: url("../img/icon-plus-hover.png");
}
.plus-button:active {
  background-image: url("../img/icon-plus-active.png");
}
.minus-button {
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  background-image: url("../img/icon-minus.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.minus-button:hover {
  background-image: url("../img/icon-minus-hover.png");
}
.minus-button:active {
  background-image: url("../img/icon-minus-active.png");
}
.visitors {
  display: flex;
  margin-bottom: 51px;
  justify-content: space-between;
}
.adults {
  width: 250px;
}
.children {
  width: 190px;
}
.adults input,
.children input {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "PT Sans", "Avant Garde", "Arial", sans-serif;
  text-align: center;
}
.adults input:hover,
.children input:hover {
  background-color: #ebebeb;
}
.adults input:focus,
.children input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  width: 34px;
  height: 34px;
  outline: none;
}
.adults label {
  margin-right: 41px;
}
.children label {
  margin-right: 27px;
}
input[type="submit"] {
  display: block;
  width: 100%;
  height: 56px;
  border: none;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  font-family: "PT Sans", "Avant Garde", "Arial", sans-serif;  
}
input[type="submit"]:hover {
  background-color: #669ec0;
}
input[type="submit"]:active {
  background-color: background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}
.main-footer {
  margin: 0 auto;
  width: 1200px;
  min-height: 95px;  
  background-color: rgb(255, 255, 255);
  padding-top: 35px; 
  display: flex;  
}
.index-footer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
}
.main-footer-logo {
  width: 400px;  
  text-align: center;
  padding-top: 11px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.main-footer-logo p {
  margin: 0;
}
.footer-social {
  width: 400px;
  text-align: center;
  padding-top: 2px;
  padding-left: 2px;
}
.social-btn {
  font-size: 0;
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 0 2px;
  vertical-align: top;
  text-decoration: none;
}
.twitter {  
  background: #81b3d2 url("../img/icon-twitter.png") no-repeat center;
}
.twitter:hover {  
  background: #669ec0 url("../img/icon-twitter.png") no-repeat center;
}
.twitter:active {  
  background:  #5496bd url("../img/icon-twitter-active.png") no-repeat center;
}
.facebook {  
  background: #81b3d2 url("../img/icon-facebook.png") no-repeat center;
}
.facebook:hover {  
  background: #669ec0 url("../img/icon-facebook.png") no-repeat center;
}
.facebook:active {  
  background:  #5496bd url("../img/icone-facebook-active.png") no-repeat center;
}
.instagram {  
  background: #81b3d2 url("../img/icon-youtube.png") no-repeat center;
}
.instagram:hover {  
  background: #669ec0 url("../img/icon-youtube.png") no-repeat center;
}
.instagram:active {  
  background: #5496bd url("../img/icon-youtube-active.png") no-repeat center;
}

.footer-copyright  {
  width: 400px;  
  display: flex;
}
.footer-copyright-text {
 margin-left: 102px;
}
.footer-copyright a {
  font-size: 0;
  display: inline-block;
  width: 113px;
  height: 39px;
  text-align: top;
  margin-left: 8px;
  margin-bottom: 10px;
  text-decoration: none;
  background: url("../img/icon-htmlacademy.png") no-repeat top;
 /* position: absolute;
  top: 6px;*/
}
.footer-copyright a:hover {
  background: url("../img/icon-htmlacademy-hover.png") no-repeat top;
}
.footer-copyright a:active {
  background: url("../img/icon-htmlacademy-active.png") no-repeat top;
}



                             /*Разметка второй страницы */
.form-list {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 72px;
}
.form-list-left {
  display: flex;
  justify-content: space-between;
  width: 45%;
  padding-top: 28px; 
}
.form-list-checkbox {
  width: 45%;
  border: none;
  margin-right: 100px;  
}
.form-list-checkbox legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;  
  color: #ffffff;
  margin-bottom: 22px;
}
.form-list-checkbox label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;  
  color: #ffffff;
}
.login-checkbox {
  position: relative;
  padding-left: 42px;
  cursor: pointer;
  margin-bottom: 23px;
}
.login-checkbox:hover {
  color: #ffffff;
}
.login-checkbox input[type="checkbox"] {
  display: none;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-checkbox.png");
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  width: 26px;
  height: 22px;
  background-image: url("../img/icon-checkbox-active.png");
}
.main-form {
  min-height: 217px;
  background: #62936C url("../img/bg-filter-promo.jpg") no-repeat center;  
}
.main-result {
  min-height: 540px;
  background-color: #ffffff;
}
.result {
 min-height: 86px;
 display: flex; 
 align-items: center;
 border-bottom: 1px solid #e5e5e5;
}
.result-items {
  display: flex; 
  align-items: center;
}
.result-items p {  
  margin-right: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.result-items-wrapper {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.result-items a { 
  font-size: 12px;
  font-weight: 400;
  margin-right: 33px; 
  line-height: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted;
}
.result-items a:hover {
  color: #81b3d2;
}
.result-items a:active {
  color: #000000;
  border: none;
}
.result-items .result-items-active {
  color: #81b3d2;
  border: none;
}
.result-items-arrow {
  margin-top: 2px;
  margin-left: 465px;
}
a.result-items-arrow {
  display: inline-block;
  margin: 0 10px;  
}
.result-items-arrow a {
  font-size: 0;
}
.increase {
  padding-right: 8px;
}
.arrow::before {
  content: "";
  border: 9px solid #81b3d2;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;
}
.increase::before {
  border-top-width: 0;
  display: inline-block;
}
.decrease::before {
  border-bottom-width: 0;
  display: inline-block;
}
.result-items-amount {
  margin-left: 71px;
  margin-top: 19px;
  margin-right: 49px;
  color: #000000; 
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  
}
.housing  {
  min-height: 70px;
  display: flex;
}
.hotel {
  margin-bottom: 15px;  
}
.motel {
  margin-bottom: 16px;
  border-top: 1px solid #e5e5e5;
}
.apartments {
  border-top: 1px solid #e5e5e5;
}
.housing img {
  margin-top:30px;
  margin-left: 72px;  
}
.housing-description {
  width: 270px;
  margin-left: 30px; 
}
.housing-description h2 {
  padding-top: 24px; 
  margin: 0;  
}
.housing-description a {
  text-decoration: none;
  color: #000000;
}
.housing-description a:hover {
  color: #81b3d2;
}
.housing-description a:active {
  color: rgba(0, 0, 0, 0.3);
}
.housing-description-left {
  display: inline-block;
  width: 110px;
  float: left;  
  margin-right: 5px;
}
.housing-description-left p,
.housing-description-right p {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}
.housing-description-left a {
  text-decoration: none;
  display: inline-block;
  width: 110px;
  height: 23px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 4px;
}
.housing-description-left a:hover {
  background-color: #669ec0;
  color: #ffffff;
}
.housing-description-left a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.housing-description-right a {
  text-decoration: none;
  display: inline-block;
  width: 142px;
  height: 23px;
  background-color: #766357;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 4px;
}
.housing-description-right a:hover {
  background-color: #604e43;
  color: #ffffff;
}
.housing-description-right a:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.housing-description-right {
  display: inline-block;
  width: 130px;
}
.housing-description-rating {
  margin-left: 515px;
  margin-top: 25px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.housing-description-rating p {  
  display: inline-block;
  width: 110px;
  height: 24px;
  margin-top: 45px;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  text-align: center;
}
.rating-stars {
  display: flex;
  justify-content: flex-end;
}
.star {
   margin: 10px 2px;
   position: relative;
   display: block;
   color: #81b3d2;
   width: 0px;
   height: 0px;
   border-right:  11px solid transparent;
   border-bottom: 6px  solid #81b3d2;
   border-left:   10px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
.star:before {
   border-bottom: 9px solid #81b3d2;
   border-left: 4px solid transparent;
   border-right: 4px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -6px;
   left: -6px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
   
}
.star:after {
   position: absolute;
   display: block;
   color: #81b3d2;
   top: 0px;
   left: -8px;
   width: 0px;
   height: 0px;
   border-right: 9px solid transparent;
   border-bottom: 6px solid #81b3d2;
   border-left: 9px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: ''; 
}

.catalog-footer {
  border-top: 1px solid #e5e5e5;
}




             /*Разметка сложного фильтра*/
.filter-range {
  margin-top: 27px;
  width: 319px;
  color: #ffffff;
  display: inline-block;
}
.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;
  height: 34px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 31px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
 }



